.header-background-color {
  height: 170px;
  background-color:#3F51B5;
}

.header-text {
  padding-top: 50px;
  margin: auto;
  width: 50%;
}

#navbar {
  background-color:#303F9F;
}
#mainText {
  color: white;
}
.smallText {
    color: #757575;
}